In [1]:
# 5.7. Exercício - Medidas de posição
# Faça o download dos dados de nascidos vivos em 2017 de Sergipe e responda às seguintes perguntas:

# 1.Qual a média da idade da mãe, peso, apgar 1 min, apgar 5 min, quantidade de filhos vivos e quantidade de filhos mortos?
# 2.Qual a idade tal que metade das idades das mães são menores que ela (mediana)?
# 3.Qual o apgar de 1 min que mais aparece (moda)?
# 4.Qual o apgar de 5 minutos que mais aparece?
# 5.Qual o peso da criança tal que 10% dos pesos são menores (P10)?
# 6.Qual o peso da criança tal que 75% dos pesos são menores (Q3)?
# 7.Qual a quantidade de filhos mortos que mais aparece?
# 8.Qual a média de idade de mães solteiras?
# 9.Qual a quantidade de filhos vivos das mães com até 3 anos de escolaridade tal que 25% dessa quantidade são menores (Q1)?
# 10.Qual a moda da idade das mães para as crianças que nasceram com anomalia congênita?

In [93]:
import pandas as pd
dnse = pd.read_csv(R'C:\Users\JUEFE\Desktop\Fe\Jupyter\Data Exploratory Analysis\DNSE2017.csv', dtype=str)
dnse

,contador,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,...,TPFUNCRESP,TPDOCRESP,DTDECLARAC,ESCMAEAGR1,STDNEPIDEM,STDNNOVA,CODPAISRES,TPROBSON,PARIDADE,KOTELCHUCK
0,1,1,2415631,230440,1,24,2,4,999992,01,...,NaN,0,NaN,12,0,1,NaN,05,1,9
1,2,1,2005050,270030,1,34,5,4,622020,03,...,NaN,3,05042017,06,0,1,NaN,03,1,3
2,3,1,2005050,270030,1,19,2,4,622020,NaN,...,NaN,3,03042017,06,0,1,NaN,11,0,5
3,4,1,2005026,270030,1,19,2,4,999992,01,...,2,3,29042017,04,0,1,NaN,05,1,2
4,5,1,2722429,270400,1,16,1,4,999991,00,...,2,4,19042017,05,0,1,NaN,03,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33862,33863,1,2115891,314480,1,31,2,5,121010,01,...,5,4,27092017,08,0,1,NaN,10,1,5
33863,33864,1,3137163,350610,1,26,2,4,376225,00,...,2,3,15102017,06,0,1,NaN,02,0,3
33864,33865,1,2755092,353800,1,26,1,5,999992,00,...,5,4,24102017,08,0,1,NaN,04,1,5
33865,33866,1,2077574,355030,1,33,1,4,999992,01,...,5,4,21082017,05,0,1,NaN,04,1,5
33866,33867,2,6901743,280210,1,23,1,4,622020,02,...,4,4,06112017,12,0,1,NaN,03,1,5

In [94]:
dnse.columns

Index(['contador', 'ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE',
       'ESTCIVMAE', 'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT',
       'CODMUNRES', 'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC',
       'HORANASC', 'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL',
       'DTCADASTRO', 'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM',
       'DIFDATA', 'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU',
       'ESCMAE2010', 'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT',
       'QTDPARTNOR', 'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC',
       'TPMETESTIM', 'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART',
       'STCESPARTO', 'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC',
       'ESCMAEAGR1', 'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON',
       'PARIDADE', 'KOTELCHUCK'],
      dtype='object')

In [95]:
dnse[['IDADEMAE','CODOCUPMAE','PESO','APGAR1', 'APGAR5','QTDFILVIVO', 'QTDFILMORT']]

      IDADEMAE CODOCUPMAE  PESO APGAR1 APGAR5 QTDFILVIVO QTDFILMORT
0           24     999992  3556     09     10         01         00
1           34     622020  2760     08     09         03         01
2           19     622020  3010     08     09        NaN        NaN
3           19     999992  3720     08     09         01        NaN
4           16     999991  2900     09     10         00         04
...        ...        ...   ...    ...    ...        ...        ...
33862       31     121010  2735     06     07         01         00
33863       26     376225  3230     08     09         00         00
33864       26     999992  3640     09     09         00         01
33865       33     999992  3115     08     09         01         00
33866       23     622020  3100     09     10         02        NaN

[33867 rows x 7 columns]

In [100]:
# 1.Qual a média da idade da mãe, peso, apgar 1 min, apgar 5 min, quantidade de filhos vivos e quantidade de filhos mortos?

campos_medias = dnse[['PESO','IDADEMAE','QTDFILVIVO','QTDFILMORT','APGAR1','APGAR5']]
medias = campos_medias.mean().to_frame()
medias

                      0
PESO        3223.196332
IDADEMAE      26.148079
QTDFILVIVO     1.123062
QTDFILMORT     0.310486
APGAR1         8.443829
APGAR5         9.526913

In [101]:
# 2.Qual a idade tal que metade das idades das mães são menores que ela (mediana)?



dnse.IDADEMAE = pd.to_numeric(dnse.IDADEMAE).astype(pd.Int64Dtype())
dnse.IDADEMAE.dtype

media = dnse.IDADEMAE.mean()        
media

26.148079251188474

In [49]:
dnse.PESO = pd.to_numeric(dnse.PESO).astype(pd.Int64Dtype())
dnse.PESO.dtype

media = dnse.PESO.mean()        
media

3223.196331521739

In [50]:
dnse.APGAR1 = pd.to_numeric(dnse.APGAR1).astype(pd.Int64Dtype())
dnse.APGAR1.dtype

media = dnse.APGAR1.mean()        
media

8.443828562774497

In [51]:
dnse.APGAR5 = pd.to_numeric(dnse.APGAR5).astype(pd.Int64Dtype())
dnse.APGAR5.dtype

media = dnse.APGAR5.mean()        
media

9.526913296197627

In [52]:
dnse.QTDFILVIVO = pd.to_numeric(dnse.QTDFILVIVO).astype(pd.Int64Dtype())
dnse.QTDFILVIVO.dtype

media = dnse.QTDFILVIVO.mean()        
media

1.1230616302186878

In [53]:
dnse.QTDFILMORT = pd.to_numeric(dnse.QTDFILMORT).astype(pd.Int64Dtype())
dnse.QTDFILMORT.dtype

media = dnse.QTDFILMORT.mean()        
media

0.31048636082961023

In [54]:
# 3.Qual o apgar de 1 min que mais aparece (moda)?


dnse.IDADEMAE = pd.to_numeric(dnse.IDADEMAE).astype(pd.Int64Dtype())
dnse.IDADEMAE.dtype

mediana = dnse.IDADEMAE.median()      
mediana

26.0

In [102]:
# 3.Qual o apgar de 1 min que mais aparece (moda)?

campos_modas = dnse[['APGAR1','APGAR5']]
modas = campos_modas.mode()
modas

   APGAR1  APGAR5
0     9.0    10.0

In [103]:
# 4.Qual o apgar de 5 min que mais aparece (moda)?

campos_modas = dnse[['APGAR1','APGAR5']]
modas = campos_modas.mode()
modas

   APGAR1  APGAR5
0     9.0    10.0

In [67]:
# 5.Qual o peso da criança tal que 10% dos pesos são menores (P10)?

campos_quantis = dnse[['PESO']]
quantis = campos_quantis.quantile([0.1])
quantis

       PESO
0.1  2570.0

In [66]:
# 6.Qual o peso da criança tal que 75% dos pesos são menores (Q3)?

campos_quantis = dnse[['PESO']]
quantis = campos_quantis.quantile([0.75])
quantis

        PESO
0.75  3575.0

In [105]:
# 7.Qual a quantidade de filhos mortos que mais aparece?

campos_modas = dnse[['QTDFILMORT']]
modas = campos_modas.mode()
modas


dnse.QTDFILMORT.describe()

count    27531.000000
mean         0.310486
std          0.647047
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         14.000000
Name: QTDFILMORT, dtype: float64

In [106]:
# 8.Qual a média de idade de mães solteiras?

estadocivil= dnse[dnse.ESCMAE == '1']
estadocivil.IDADEMAE.mean()

35.07692307692308

In [107]:
# 9.Qual a quantidade de filhos vivos das mães com até 3 anos de escolaridade tal que 25% dessa quantidade são menores (Q1)?

escolaridade = dnse[(dnse.ESCMAE == '1') | (dnse.ESCMAE =='2')]
escolaridade.QTDFILVIVO.quantile([0.25])

0.25    1.0
Name: QTDFILVIVO, dtype: float64

In [108]:
escolaridade.QTDFILVIVO.describe()

count    1676.000000
mean        3.158115
std         2.394658
min         0.000000
25%         1.000000
50%         3.000000
75%         4.000000
max        12.000000
Name: QTDFILVIVO, dtype: float64

In [111]:
# 10.Qual a moda da idade das mães para as crianças que nasceram com anomalia congênita?
anomalia = dnse[dnse.IDANOMAL == '1']
anomalia.IDADEMAE.mode()

0    21
dtype: Int64

In [112]:
anomalia.IDADEMAE.describe()

count    407.000000
mean      27.343980
std        7.373539
min       13.000000
25%       21.000000
50%       27.000000
75%       33.000000
max       47.000000
Name: IDADEMAE, dtype: float64